a   {
    text-decoration: none;
}
h1  {
    border-top: 7px solid rgb(26, 83, 102);
    border-right: 10px solid rgba(255, 255, 6, 0.281);
    border-bottom: 12px solid rgb(57, 141, 123);
    border-left: 7px solid rgb(38, 38, 143);
    background-color: rgb(131, 190, 209);
    text-align: center;
    margin: auto;
    padding: 10px 20px;
    width: 200px;
    font-size: x-large;
    margin-top: 50px;
    text-shadow: 2px 2px 2px rgb(202, 195, 195), 0 -2px 6px red;
}

img.one {
    position: absolute;
    width: 300px;
    height: 200px;
    margin: 5em 9em;
    border: 5px dotted green;
    padding: 10px;
}

img.two {
    position: absolute;
    width: 300px;
    height: 200px;
    margin: 3em 0 0 33em;
    border: 5px dotted green;
    padding: 10px;
}

img.three   {
    position: absolute;
    width: 300px;
    height: 200px;
    margin-top: 5em;
    margin-left: 57em;
    border: 5px dotted green;
    padding: 10px;
}
img:hover   {
    transform: scaleX(-1);
    opacity: 0.7;
}

p.one   {
    position: absolute;
    display: inline;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    border-left: 60px solid white;
    border-right: 60px solid white;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    outline: 5px dashed black;
    padding: ;
    text-align: center;
    width: 180px;
    height: 35px;
    margin: 12em 0 0 5em;
}

p.two   {
    position: absolute;
    display: inline;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    width: 300px;
    height: 50px;
    margin:  12em 0 0 16.8em;
    box-sizing: border-box;
    outline: 5px dashed black;
}

p.three   {
    position: absolute;
    display: inline;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    border: 5px dashed black;
    text-align: center;
    width: 300px;
    height: 50px;
    margin: 12em 0 0 28.5em;
}

hr  {
    border-top: 3px dotted red;
    margin-top: 30em;
}

h3  {
    text-transform: capitalize;
}

th  {     /* Дали може да ми кажете некое полесно решени за табелата да се префарба background-color нешто како виножито побарав на интернет но неможам никако да најдам, најдов нешто со Јава скрипт но ми е непознато*/
    margin-left: 540px;
    padding-left: 100px;
    background-color: green;
    text-align:right;
    display: block;
    color: white;
}

#tableone   {
    background-color:blue ;
}

#tablefiften    {
    background-color: pink;
}

#tableten   {background-color:lightskyblue ;}

/* Знам дека имам грешки јасно ми е, насочете ме кон што да внимавам повеќе и на што да се вложам повеќе да прогуглам */