ul  {
    list-style-type: none;
    margin: -9px 0 0 0;
    padding: 0 256px 0 200px;
    overflow: hidden;
    background-color: dimgrey;
    border: 1px solid dimgrey;
    position: fixed;
}

li  {
    float: right;
}

li a  {
    font-size: 20px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: mediumturquoise;
}

.first_page    {
    background-image: url(./Images/andromeda.jpg);
    width: 100%;
    margin: -5px 0 0 0;
    padding: 100px 0 80px 0;
    text-align: center;
    color: white;
}

.first_image    {
    vertical-align: middle;
}

span    {
    display: inline-block;
}

.first_head {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 3.5em;
    margin-bottom: -30px;
    
}

.for_text   {
    font-size: 2.5rem;
}

.first_btn {
    font-size: large;
    font-weight: bold;
    color: slategray;
    width: 200px;
    height: 50px;
    text-decoration: none;
}

.first_btn:hover {
    background-color: rgb(18, 3, 73);
    color: white;
    text-decoration: none;
}

.second_text    {
    font-size: 2rem;
    background-color: dimgray;
    opacity: 0.7;
    margin: 0 189px 0 190px;
    padding: 10px 0 10px 0;
}
.for_picture:hover    {
    opacity: 0.7;
}

.second {
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
}

.text   {
    font-size: large;
}

.for_link   {
    color: white;
}

.three  {
    background-color: black;
    padding: 10px 0 10px 0;
    color: white;
}

footer  {
    text-align:center;
}